// Fonts
$robo: 'Roboto', sans-serif;
$pt: 'PT Serif', serif;

// Typography
$base-font-family: $robo;
$heading-font-family: $robo;
$nav-font-family: $robo;

// Font Sizes
$base-font-size: 1em;

// Line height
$base-line-height: 1.5;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base-line-height * 1em;
$small-spacing: $base-spacing / 2;
$base-z-index: 0;

// Colors
$nav-color: #292929;
$purple-color: #b1005d;
$purple-dark: #8e0e51;
$white: #fdfbfc;
$black: #070707;
$sub-footer: #202020;
$sub-gray: #818080;
$dark-green: #006c68;
$light-green: #66a7a4;
$prime-hover: #333333;
$button-gray: #c2c2c2;
$hr-color: #d3d3d3;
$blue: #477dca;
$dark-gray: #333;
$medium-gray: #999;
$bg-gray: #eeeeee;
$light-gray: #e7e7e7;
$text-top-nav: #666666;
$text-gray: #656565;
$list-gray: #565656;
$test-gray: #595858;
$dark-gray: #333333;
$menu-gray: #e8e8e8;
$menu-dark-gray: #d6d6d6;
$menu-active: #9c9a9b;
$test-light-gray: #acacac;
$test-bg: #e4e4e4;
$p-color: #333333;
$nav-bg-hover: #f4f4f4;


// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $hr-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: tint($base-border-color, 75%);

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 150ms;
$base-timing: ease;

// Slider
$thumbnail-height: 92px;

// Breakpoints
$header-break: 960px;
$nav-break: 647px;
$contact-break: 883px;
$mobile-break: 768px;
$mobile-break: 768px;
$mobile-slider: 996px;