//header desktop//

#top-bar{
	background-image:
    -webkit-linear-gradient(white, #e3e3e3);
	background-image:
    -o-linear-gradient(white, #e3e3e3);
	background-image:
    linear-gradient(white, #e3e3e3);
	background-color: $light-gray;
	#top-nav{
		@include outer-container;
		.menu{
			margin-top: 0px;
		}
		.menu-top-menu-container{
		    margin-top: 0px;

		    ul{
		    	width: 100%;
			    float: right;
			    text-align: right;
				padding: 4px 0px 6px 0px;

			     li{
			    
		    		display: inline-block;

		    		a{
		    			padding-left: 20px;
		    			text-transform: uppercase;
		    			color: $text-top-nav;
		    			font-size: em(12px);	
		    		}
		    	}
		    }
			   
		}
	
	}
}


header{
	padding: 20px 0px 10px 0px;
	@include outer-container;
}

.site-branding{
	padding-left: 0px;
	position: relative;
	top: 7px;
	@include span-columns(3);

	a{
		color: $dark-green;
		text-transform: uppercase;
		font-weight: 700;
	}
}

.menu{
	margin-top: 6px;
	@include span-columns(9);
}

#logo{
	float: left;
}

#company{
	position: absolute;
    top: 40%;
	left: 95px;
	vertical-align: middle;

	&:hover{
			color: $prime-hover;
		}
}

#mobile-nav{
	margin-top: 25px;
}


//header mobile//

@media (max-width: $header-break) {
	.site-branding{
	@include span-columns(12);
	}

	.menu{
		@include span-columns(12);
	}

}

@media (max-width: 385px) {
	#company{
		width: 100px;
	    top: 25%;
	}

}


@media (max-width: $mobile-break) {
	header{
		padding: 20px 0px 0px 0px;
	}
	#logo{
		padding-left: 10px;
	}
}