//header desktop//

#top-bar{
	background-color: $light-gray;
	#top-nav{
		@include outer-container;
		.menu{
			margin-top: 0px;
		}
		.menu-top-menu-container{
			    margin-top: 0px;
			    ul{
			    	width: 100%;
			    	border: green solid 1px;
				    float: right;
				    text-align: right;

				     li{
			    		display: inline-block;
			    	}
			    }
			   
		}

	}
}


header{
	padding: 17px 10px 22px 10px;
	@include outer-container;
	border: pink solid 1px;
}

.site-branding{
	padding-left: 0px;
	position: relative;
	@include span-columns(4);

	a{
		color: $dark-green;
		text-transform: uppercase;
		font-weight: 700;
	}
}

.menu{
	margin-top: 6px;
	@include span-columns(8);
}

#logo{
	float: left;
	width: 85px;
}

#company{
	position: absolute;
    top: 40%;
	left: 95px;
	vertical-align: middle;

	&:hover{
			color: $prime-hover;
		}
}

#mobile-nav{
	margin-top: 25px;
}

//header mobile//

@media (max-width: $header-break) {
	.site-branding{
	@include span-columns(12);
	}

	.menu{
		@include span-columns(12);
	}

}

@media (max-width: 385px) {
	#company{
		width: 100px;
	    top: 25%;
	}

}