//jumbo//

#jumbo-page{
	height: 290px;
}

.jumbo{
	background-image:url('img/banner-private-checking.jpg');
	background-position: center center;
	width: 100%;
	background-size: cover;
	position: relative;
	
	.jumbo-wrapper{
		background-color: rgba(177, 0, 93, 0.8);;
		position:absolute;
		bottom: 0; 
       	width: 100%;
		.jumbo-title{
			@include outer-container;
			padding: 0px 10px;

			h1{
				font-size: em(42px);
				color: $white;
				font-weight: 300;
				padding: 10px 0px;
				margin: 0px;
			}
		}	
	}
}



//jumbo mobile//

@media (max-width: $mobile-break) {
	.jumbo-wrapper{
		h1{
			padding: 25px 10px;
		}
	}
}