//slider//

#home-slider{
    background: $bg-gray;
    
    .slider {
        max-width: 1500px;
        margin: 0px auto;
    }
    .slide-viewer {
       position: relative;
        /* needed for IE7 */
        overflow: hidden;
        height: 500px;
    }
    .slide-group {
        width: 100%;
        position: relative;
    }
    .slide {
        background-size: cover;
        background-position: center center;
        width: 100%;
        height: 500px;
        background-repeat: no-repeat;
        display: none;
        position: absolute;
    }
    .slide:first-child {
        display: block;
    }
    
}


// image buttons

.image-grp {
    position: relative;
    top: -30px;
    @include outer-container;
        .image-button {
            position: relative;
            cursor: pointer;
            height: $thumbnail-height;
            width: 20%;
            float: left;    
        }

        .image-button img {   
            width: 185px;
            box-shadow: $dark-gray 1px 1px 5px;
            display: block;
            margin: 0 auto;
            &:hover {
                outline: 3px solid $purple-color; 
            }
        }
        img{
            outline: 3px solid $purple-color;
        }
        .inactive img{
            outline: 0px solid $purple-color;
        }
}

// slide content

.slide-content{
    @include outer-container;
    width: 100%;
    height: 60%;
    margin-top: 95px;
    text-align: left;
        h1{
            font-weight: 300;
            color: $purple-color;
            margin-bottom: 20px;
        }
}

// arrows

.arrow{
    opacity: 0.4;
    display: none;
    position: absolute;
    z-index: 999999;
    top: 35%;
    cursor: pointer;
    &:hover{
        opacity: 1;  
    }
}

#right-arrow{
    right:0;
    padding-right: 20px;
}
#left-arrow{
    left:0;
    padding-left: 20px;
}


// mobile

.mobile-slide-content{
    display: none;
    width: 100%;
    position:absolute;
    bottom: 0px;
    background-color: $white;
    border: green solid 1px;
    
    .mobile-slide-content-wrapper{
        @include outer-container;
        
        h1{
            padding: 20px 0px 0px 20px;
            font-weight: 400;
            color: $purple-color;
            font-size: em(24px);   
        }   
    }  
    
}



@media (max-width: $mobile-slider) {
    .arrow{
        display: block;
    }

    .image-grp {
        display: none;
    }
    .slide-content{
        display: none;
    }

    .mobile-slide-content{
        display: block;
    }
}