//home page//

#home-info{
	width: 100%;

	.home-text{
		@include outer-container;
		text-align: center;
		
	}

	h2{
		padding: 40px 10px 25px 10px;
		color: $white;
		font-weight: 400;
		line-height: em(24px);
	}

}

#home-products{
	
	@include outer-container;
	padding: 15px 10px 66px 10px;

	.product{
		@include span-columns(4);
		text-align: center;

		h3{
			color: $purple-color;
			font-weight: 300;
			font-size: em(24px);
			padding-top: 15px;
			margin: 0px 0px 5px 0px;
		}

		p{
			color: $dark-gray;
			padding-top: 5px;
			font-size: em(16px);
		}

		.learn-more{
			font-weight: 700;
			text-transform: uppercase;
			color: $purple-color;

			&:hover{
				color: $dark-gray;
			}
		}

	}
}

//home breakpoint//

@media (max-width: $mobile-break) {
	#home-products{
	
		@include outer-container;
		text-align: center;
		padding: 44px 10px 44px 10px;

		.product{
			@include span-columns(12);

			h3{
				padding-top: 5px;
				margin: 0px;
			}

			p{
				font-size: em(14px);
			}

		}
		.product:nth-child(n+2) {
			margin-top: 30px;
		}
	}
}

// home arrows

.fa-chevron-circle-right{
	padding-left: 5px;
}
